.navbar-img{
    margin-left: 100px;
    margin-right: 300px;
}
.navBG{
    background: black !important;
    font-size: 1.3rem;
    color: white !important;
}
li, .navBG{
    color: white !important;
}