.podcast-container {
  width: 80%;
  font-size: 1.2rem;
  margin: auto;
}
.center-div-podcast {
  display: inline-block;
}
.podcast-img-1 {
  display: inline-block;
}
.text-1 {
  margin-left: 50px;
  display: inline-block;
}
p,
.text-1 {
  color: rgb(124, 124, 124);
}

h3,
.text-1 {
  color: black;
}
