.container-rp {
  margin: auto;
  width: 1000px;
}
.rp-1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.rp-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-top: 30px;
  margin-bottom: 20px;
}

.rp-2,
.rp-3 {
  width: 800px;
  margin: auto;
}
.rp-3 {
  margin-bottom: 200px;
}
