.container-sp{
    width: 800px;
    text-align: left;
    margin: auto;
    margin-bottom: 25%;
    margin-top: 2%;
}
.to-line{
    margin-top:20px;
    border-top: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.sp-2{
    margin-top: 80px;
}
.sp-3{
    margin-top: 40px;
    margin: 0;
    padding: 0;
}
.DeleteM-sp{
    margin: 0;
    padding: 0;
}